/**** Navegacion ****/
header{
text-align: center;
background: url("http://more-sky.com/data/out/6/IMG_129719.png"); background-size: cover; padding: 10px;
}

h1{
font-size: 50px;
color:white;
}

ul{
background: white;
border-radius: 10px;
}

/**** Para eliminar puntos de la lista ****/

li {
list-style: none;
display: inline; }

/**** 0px=top 12px=right 0px=bottom 0px=left ****/ 
a{
padding: 0px 24px 0px 24px;
text-decoration: none;
color: black;
font-size: 30px;
}

img{
width: 35%;
margin: 40px 0px 0px 0px;
border: 7px solid white;
border-radius: 500px;
}

article{
width: 500px;
margin: 0 auto;
padding: 20px;
text-align: justify;
}
@media(max-width: 500px){
    h1{
        font-size: 20px;
    }
    li{
        display:block;
    }
}
